<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>F</key>
	<dict>
	    <key>period</key>
	    <integer>-100</integer>
	    <key>comma</key>
	    <integer>-140</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>quoteright</key>
	    <integer>110</integer>
	    <key>quotedblright</key>
	    <integer>140</integer>
	</dict>
    </dict>
</plist>
