<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>F</key>
	<dict>
	    <key>period</key>
	    <integer>-140</integer>
	    <key>comma</key>
	    <integer>-180</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>quoteright</key>
	    <integer>-150</integer>
	    <key>quotedblright</key>
	    <integer>-200</integer>
	</dict>
	<key>b</key>
	<dict>
	    <key>b</key>
	    <integer>-19</integer>
	</dict>
	<key>c</key>
	<dict>
	    <key>c</key>
	    <integer>-12</integer>
	</dict>
	<key>d</key>
	<dict>
	    <key>d</key>
	    <integer>-17</integer>
	</dict>
	<key>e</key>
	<dict>
	    <key>o</key>
	    <integer>-12</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>f</key>
	    <integer>-50</integer>
	    <key>comma</key>
	    <integer>-60</integer>
	</dict>
	<key>g</key>
	<dict>
	    <key>g</key>
	    <integer>-14</integer>
	</dict>
	<key>k</key>
	<dict>
	    <key>o</key>
	    <integer>-21</integer>
	</dict>
    </dict>
</plist>
