<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A_Left</key>
	<dict>
		<key>@MMK_R_W_Right</key>
		<integer>-56</integer>
	</dict>
	<key>@MMK_L_S_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_T_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-82</integer>
	</dict>
	<key>@MMK_L_V_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-157</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-82</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-82</integer>
	</dict>
	<key>@MMK_L_W_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-110</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-23</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-59</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-52</integer>
	</dict>
	<key>@MMK_L_X_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-52</integer>
	</dict>
	<key>@MMK_L_Y_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_k_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-33</integer>
	</dict>
	<key>@MMK_L_l_Left</key>
	<dict>
		<key>@MMK_R_g_Right</key>
		<integer>-36</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-30</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-65</integer>
	</dict>
	<key>@MMK_L_o_Left</key>
	<dict>
		<key>@MMK_R_w_Left</key>
		<integer>-41</integer>
	</dict>
	<key>@MMK_L_r_Left</key>
	<dict>
		<key>@MMK_R_g_Right</key>
		<integer>-44</integer>
	</dict>
	<key>@MMK_L_t_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-14</integer>
	</dict>
	<key>@MMK_L_w_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_y_Left</key>
	<dict>
		<key>@MMK_R_g_Right</key>
		<integer>-37</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-36</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-30</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-28</integer>
	</dict>
</dict>
</plist>
