<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1560</integer>
	<key>capHeight</key>
	<integer>1456</integer>
	<key>descender</key>
	<integer>-556</integer>
	<key>familyName</key>
	<string>Comme Medium</string>
	<key>openTypeHeadCreated</key>
	<string>2013/12/27 11:33:32</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Comme</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Medium</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>-711</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>-59</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>-1553</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>-178</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>-1434</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>-1553</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>-835</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>-1434</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>500</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.0218</real>
	<key>postscriptBlueShift</key>
	<integer>4</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-20</integer>
		<integer>0</integer>
		<integer>1082</integer>
		<integer>1102</integer>
		<integer>1456</integer>
		<integer>1476</integer>
	</array>
	<key>postscriptFullName</key>
	<string>OxygenSans Medium</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>1540</integer>
		<integer>1560</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>11</integer>
		<integer>87</integer>
		<integer>99</integer>
		<integer>101</integer>
		<integer>106</integer>
		<integer>109</integer>
		<integer>111</integer>
		<integer>120</integer>
		<integer>127</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>105</integer>
		<integer>127</integer>
		<integer>135</integer>
		<integer>135</integer>
		<integer>139</integer>
		<integer>141</integer>
		<integer>158</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>1082</integer>
</dict>
</plist>
