<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>OxygenSans</string>
	<key>styleName</key>
	<string>Book</string>
	<key>copyright</key>
	<string></string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>xHeight</key>
	<integer>1055</integer>
	<key>capHeight</key>
	<integer>1440</integer>
	<key>ascender</key>
	<integer>1805</integer>
	<key>descender</key>
	<integer>-511</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2013/03/22 21:28:06</string>
	<key>openTypeNameVersion</key>
	<string>Version </string>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2VendorID</key>
	<string>PfEd</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1568</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-480</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1568</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>480</integer>
	<key>postscriptFontName</key>
	<string>OxygenSans-Book</string>
	<key>postscriptFullName</key>
	<string>OxygenSans Book</string>
	<key>postscriptWeightName</key>
	<string>Normal</string>
	<key>postscriptUnderlineThickness</key>
	<integer>0</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-8</integer>
		<integer>5</integer>
		<integer>305</integer>
		<integer>312</integer>
		<integer>398</integer>
		<integer>413</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-132</integer>
		<integer>-50</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>6</integer>
		<integer>48</integer>
		<integer>54</integer>
		<integer>55</integer>
		<integer>58</integer>
		<integer>59</integer>
		<integer>61</integer>
		<integer>65</integer>
		<integer>69</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>57</integer>
		<integer>69</integer>
		<integer>74</integer>
		<integer>74</integer>
		<integer>76</integer>
		<integer>77</integer>
		<integer>86</integer>
	</array>
	<key>postscriptBlueFuzz</key>
	<integer>0</integer>
	<key>postscriptBlueShift</key>
	<integer>2</integer>
	<key>postscriptBlueScale</key>
	<real>0.0118875</real>
    </dict>
</plist>
